# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Environment variables
.env

# ML artifacts
# *.joblib
# *.pkl

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/